<% @title = "Study" %>

<h1 class="index">Flip the Cards</h1>


	<h2>Index of Card: <% card.each do |c| %>
		<%= c %>
	<% end %>
	</h2>

	<p><%= card %></p>

	<a class="linkys" href="/study?flipped=<%= !flipped %>&offset=<%=offset%>">Flip</a> | 

	<a class="linkys" href= "/study?flipped=<%= flipped %>&offset=<%= offset + 1  unless card == last_card  %>"> Next</a> | 

	<a class="linkys" href="/study?flipped=<%= flipped %>&offset=<%= offset - 1%>">Previous</a>

