<h2>Front of firstcard</h2>

<p><%= card %></p>

<p><a href="/study?flipped=<%= !flipped %>&offset=<%=offset%>">Flip</a></p>
<p><a href="/study?flipped=<%= flipped %>&offset=<%=offset + 1 %>">Next</a></p>
<p><a href="/study?flipped=<%= flipped %>&offset=<%= offset - 1%>">Previous</a></p>

